@mixin transition($amount){
  -webkit-transition: $amount;
  -moz-transition: $amount;
  -ms-transition: $amount;
  -o-transition: $amount;
  transition: $amount;
}
@mixin vertical-center(){
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}
@mixin translateY($amount){
  -webkit-transform: translateY($amount);
  -moz-transform: translateY($amount);
  -ms-transform: translateY($amount);
  -o-transform: translateY($amount);
  transform: translateY($amount);
}
@mixin border-radius($amount){
  -webkit-border-radius: $amount;
  -moz-border-radius: $amount;
  border-radius: $amount;
}
@mixin rotate($amount){
  -webkit-transform: rotate($amount);
  -moz-transform: rotate($amount);
  -ms-transform: rotate($amount);
  -o-transform: rotate($amount);
  transform: rotate($amount);
}